Django
inertia-django
django-allauth
django-environ
django-money
django-lifecycle
django-cleanup
django-vite
django-extensions

Pillow
psycopg[binary]

whitenoise
gunicorn

django-unfold
qrcode
pytest
pytest-django
pytest-playwright
pytest-asyncio

ruff