{% load django_vite %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title|default:"App" }}</title>

    {% vite_hmr_client %}
    {% vite_asset "src/main.ts" %}
</head>
<body>
    {% csrf_token %}
    {% block content %}
        {% block inertia %}{% endblock %}
    {% endblock %}
</body>
</html>
